name: my-first-workflow
# To get a trigger on every push in this repo in any branch
on: push 

jobs:
  job1:
    name: JOB1
    runs-on: ubuntu-latest
    steps: 
      - name: Running Single Command in Job1
        run: echo "Hi, this is my first GitHub workflow"
      - name: Checking OS Release for GitHub Hosted Runner
        run: cat /etc/os-release
