name: Package and Publish Helm Chart (OCI)

on:
  push:
    branches:
      - "**"

permissions:
  contents: read
  packages: write

env:
  OCI_REGISTRY: ghcr.io
  OCI_REPO: ${{ github.repository_owner }}/helm-charts  # where chart will be pushed

jobs:
  package-and-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Setup Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.12.0  # pick a helm v3 version that supports OCI

      - name: Show helm version
        run: helm version

      - name: Lint chart
        run: helm lint charts/thinknyxapp

      - name: Package chart
        run: |
          cd charts/
          helm package . --destination ../packaged

      - name: Authenticate to GHCR (OCI)
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | helm registry login ${{ env.OCI_REGISTRY }} --username ${{ github.actor }} --password-stdin
        # note: helm registry login supports this pattern

      - name: Push chart to GHCR OCI
        run: |
          cd charts/packaged
          for tgz in *.tgz; do
            helm push "$tgz" oci://${{ env.OCI_REGISTRY }}/${{ env.OCI_REPO }};
          done

      - name: Logout helm registry
        run: helm registry logout ${{ env.OCI_REGISTRY }}
