name: Package and Publish Helm Chart (OCI)

on:
  push:
    branches:
      - "**"

permissions:
  contents: read
  packages: write

env:
  OCI_REGISTRY: ghcr.io
  OCI_REPO: ${{ github.repository_owner }}/helm-charts

jobs:
  package-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Setup Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.12.0

      - name: Helm version
        run: helm version

      - name: Lint Helm chart
        run: helm lint charts/

      - name: Package Helm chart
        run: |
          mkdir -p packaged
          helm package charts/* --destination packaged

      - name: Login to GHCR (OCI)
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" \
          | helm registry login ghcr.io \
            --username ${{ github.actor }} \
            --password-stdin

      - name: Push Helm chart to GHCR
        run: |
          cd packaged
          for chart in *.tgz; do
            helm push "$chart" oci://${{ env.OCI_REGISTRY }}/${{ env.OCI_REPO }}
          done

      - name: Logout Helm registry
        run: helm registry logout ghcr.io
